/* You can add global styles to this file, and also import other style files */

@import './responsive.scss';
@import './theme.scss';
html,
body {
    height: 100%;
    background-color: #939393;
    color: #fff;
}

body {
    margin: 0;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: 'Montserrat', sans-serif !important;
}

.material-icons {
    font-family: 'Material Icons' !important;
}

img {
    max-width: 100%;
}

.mat-spinner {
    margin: auto;
    circle {
        stroke: #333 !important;
    }
}


.clickable {
    cursor: pointer;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    background-color: #333 !important;
}

.spacer {
    flex-grow: 1;
}

.mat-dialog-content {
    white-space: break-spaces;
}

