.container {
    margin: 20px 40px;
    padding: 20px;
    mat-spinner {
        margin: auto;
    }
}

.container-close {
    position: relative;
    right: -10px;
    top: -10px;
    float: right;
    mat-icon {
        font-size: 30px;
        cursor: pointer;
    }
}

.message {
    text-align: center;
    margin: 50px 0 0 0;
    font-size: 20px;
}

.done-icon {
    display: block;
    margin: auto;
    font-size: 100px;
    text-align: center;
    height: auto;
    width: auto;
    color: #333;
}

.errors {
    margin: 30px 0 0 0;
}

.errored {
    .message,
    .errors {
        color: #ff0000;
    }
}

.loadingMessage {
    text-align: center;
    margin: 20px 0 0 0;
}